@model Disco.Models.Repository.Device
@if (Model.DeviceUserAssignments.Count > 0)
{ 
    <table class="genericData smallTable">
        <tr>
            <th>
                User
            </th>
            <th>
                Assigned
            </th>
            <th>
                Unassigned
            </th>
        </tr>
        @foreach (var dua in Model.DeviceUserAssignments.OrderByDescending(m => m.AssignedDate))
        {
            <tr>
                <td>
                    @Html.ActionLink(dua.AssignedUser.ToString(), MVC.User.Show(dua.AssignedUserId))
                </td>
                <td>
                    @CommonHelpers.FriendlyDate(dua.AssignedDate)
                </td>
                <td>
                    @CommonHelpers.FriendlyDate(dua.UnassignedDate, "Current")
                </td>
            </tr>
        }
    </table>
}
else
{ 
    <span class="smallMessage">No Assignment History Available</span>
}
