@model Disco.Web.Models.Device.ImportModel
@{
    ViewBag.Title = Html.ToBreadcrumb("Devices", MVC.Device.Index(), "Import Devices");
}
@using (Html.BeginForm(MVC.API.Device.ImportParse(), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <div id="importDialog" class="form" style="width: 450px">
        <table>
            <tr>
                <th>
                    @Html.LabelFor(m => m.ImportFile)
                </th>
                <td>
                    <input id="ImportFile" name="ImportFile" type="file" data-val="true" data-val-required="An Import File is required." />
                </td>
            </tr>
        </table>
        <p class="actions">
            <input type="submit" class="button" value="Import" />
        </p>
    </div>
}