@model Disco.Web.Models.Job.ListModel
@{
    ViewBag.Title = Html.ToBreadcrumb("Jobs", MVC.Job.Index(), Model.PageTitle);
}
<div id="Job_List">
    @Html.Partial(MVC.Shared.Views._JobTable, Model.JobTable, new ViewDataDictionary())
</div>
