@model Disco.Web.Areas.API.Models.Activation.CallbackModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body data-deploymentid="@Model.DeploymentId" data-correlationid="@Model.CorrelationId" data-userid="@Model.UserId">
    <script>
        const deploymentId = document.body.dataset.deploymentid;
        const correlationId = document.body.dataset.correlationid;
        const userId = document.body.dataset.userid;
        window.parent.activateCallbackResponse(deploymentId, correlationId, userId);
    </script>
</body>
</html>
