@model Disco.Models.BI.Job.JobTableModel
@if (DiscoApplication.MultiSiteMode)
{
    if (Model == null || Model.Items == null || Model.Items.Count == 0)
    { 
    <span class="smallMessage">No Jobs Found</span>
    }
    else
    {
        var multiSiteModels = Model.MultiCampusModels;

        foreach (var multiSiteModel in multiSiteModels)
        {
            if (!string.IsNullOrEmpty(multiSiteModel.Key))
            {
    <h3>@multiSiteModel.Key</h3>
            }
    @Html.Partial(MVC.Shared.Views._JobTableRender, multiSiteModel.Value, new ViewDataDictionary())
        }
    }
}
else
{ 
    @Html.Partial(MVC.Shared.Views._JobTableRender, Model, new ViewDataDictionary())
}