@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "An Error Occurred";
    
    var ex = Model.Exception;
}
<div id="layout_Error">
    @Html.DisplayFor(m => m.Exception)
    <script>
        $(function () {
            $('#layout_PageHeading').css({ 'background': '#C80000', 'color': '#fff' });
            $('#layout_Page').css({ 'background': 'linear-gradient(to top, #F2B0B0, #C80000 200px)' });
        });
    </script>
</div>