@{
    ViewBag.Title = null;
}
<h1>@CommonHelpers.Breadcrumbs("Initial Configuration > Starting Disco ICT")</h1>
<div id="dialog" title="Please Wait" style="padding-top: 30px;">
    <h2>
        <i class="fa fa-lg fa-cog fa-spin"></i>
        Starting Disco ICT
    </h2>
    <div style="padding-left: 31px;">Please wait while the Disco ICT environment is initialized</div>
</div>
<script>
    (function () {

        $(function () {

            $('#dialog').dialog({
                autoOpen: true,
                draggable: false,
                modal: true,
                resizable: false,
                width: 400,
                height: 150,
                closeOnEscape: false
            }).closest('.ui-dialog').find('.ui-dialog-titlebar-close').hide();

            var refresh = function () {
                window.location.href = '/Config';
            }
            window.setTimeout(refresh, 2000);

            $('#layout_Page').css('minHeight', '420px');

        });

    })();
</script>
