@model Disco.Web.Models.InitialConfig.WelcomeModel
@{
    ViewBag.Title = null;
}
<h1>Welcome to Disco ICT Management!</h1>
<div id="initialConfig_Welcome">
    <p>The installation is complete, but a few things need to be configured before Disco ICT can be started.</p>
    @using (Html.BeginForm())
    {
        <div class="form" style="width: 400px">
            <h2>Organisation Name</h2>
            <table>
                <tr>
                    <td>
                        <div>
                            @Html.EditorFor(m => m.OrganisationName)<br />
                            @Html.ValidationMessageFor(m => m.OrganisationName)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="actionBar">
            <input id="submitForm" type="submit" class="button" value="Continue" />
        </div>
    }
</div>
<script>
    (function () {
        $(function () {
            $('#OrganisationName').focus();
        });
    })();
</script>
