@model Disco.Web.Areas.Config.Models.DeviceProfile.IndexModel
@using Disco.Web.Areas.Config.Models.DeviceProfile
@{
    Authorization.Require(Claims.Config.DeviceProfile.Show);
}
@if (DiscoApplication.MultiSiteMode)
{
    var deviceProfilesGrouped = Model.DeviceProfiles.OrderBy(i => i.AddressName).GroupBy(i => i.AddressName);
    foreach (var deviceProfilesGroup in deviceProfilesGrouped)
    {
        if (deviceProfilesGroup.Key != null)
        { <h2>@deviceProfilesGroup.Key</h2> }
    @Html.Partial(MVC.Config.DeviceProfile.Views._TableRender, deviceProfilesGroup.Cast<_IndexModelItem>(), new ViewDataDictionary())        
    }
}
else
{ 
    @Html.Partial(MVC.Config.DeviceProfile.Views._TableRender, Model.DeviceProfiles.Cast<_IndexModelItem>(), new ViewDataDictionary())
}
