@model Disco.Web.Areas.Config.Models.DeviceProfile.IndexModel
@{
    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "Device Profiles");
}
@Html.Partial(MVC.Config.DeviceProfile.Views._Table, Model, new ViewDataDictionary())
<div class="actionBar">
    @Html.ActionLinkButton("Modify Default Profiles", MVC.Config.DeviceProfile.Defaults())
    @Html.ActionLinkButton("Create Device Profile", MVC.Config.DeviceProfile.Create())
</div>
