@model Disco.Web.Models.User.ShowModel
@{
    Authorization.Require(Claims.User.ShowAuthorization);

    Html.BundleDeferred("~/Style/Fancytree");
    Html.BundleDeferred("~/ClientScripts/Modules/jQuery-Fancytree");
}
<div id="UserDetailTab-Authorization" class="UserPart">
    <div id="UserDetailTab-AuthorizationContainer">
        
        @if (Model.ClaimNavigator != null)
        {
            <div id="Config_AuthRoles_Claims_Tree">
                </div>
                <script>
                    (function(){
                        var claimNodes = @(new HtmlString(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ClaimNavigatorFancyTreeNodes)));

                        $(function(){
                            var tree = $('#Config_AuthRoles_Claims_Tree').fancytree({
                                source: claimNodes,
                                checkbox: true,
                                selectMode: 3
                            });
                        });
                    })();
                </script>
        }
        else
        {
            <div>NO ACCESS</div>
        }


    </div>
    <script>
        $('#UserDetailTabItems').append('<li><a href="#UserDetailTab-Authorization">Authorization</a></li>');
    </script>
</div>