@model Disco.Web.Models.User.ShowModel
<div id="UserDetailTab-Jobs" class="UserPart">
    <div id="UserDetailTab-JobsContainer">
        @Html.Partial(MVC.Shared.Views._JobTable, Model.Jobs)
    </div>
    <script>
        $('#UserDetailTabItems').append('<li><a href="#UserDetailTab-Jobs">Jobs [@(Model.User.Jobs == null ? 0 : Model.User.Jobs.Count)]</a></li>');
    </script>
</div>