@model Disco.Web.Models.Device.ShowModel
@{
    Authorization.Require(Claims.Device.ShowJobs);
}
<div id="DeviceDetailTab-Jobs" class="DevicePart">
    <div id="DeviceDetailTab-JobsContainer">
        @Html.Partial(MVC.Shared.Views._JobTable, Model.Jobs)
    </div>
    <script>
        $('#DeviceDetailTabItems').append('<li><a href="#DeviceDetailTab-Jobs">Jobs [@(Model.Jobs.Items.Count())]</a></li>');
    </script>
</div>
