.tableData {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableData > tbody > tr > td {
  border: solid 1px #f4f4f4;
  background-color: #fff;
}
.tableData > tbody > tr:nth-child(odd) > td {
  background-color: hsl(0, 0%, 98.5%);
}
.tableData > thead > tr > th,
.tableData > tbody > tr > th {
  background-color: #f4f4f4;
  border: solid 1px #f4f4f4;
}
.tableData > tbody > tr:hover > td {
  background-color: hsl(0, 0%, 97.5%);
}
.tableData > tfoot > tr > th,
.tableData > tfoot > tr > td {
  background-color: #f4f4f4;
}
.tableDataDark {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
.tableDataDark td {
  border: solid 1px #d8d8d8;
  background-color: #fff;
}
.tableDataDark th {
  background-color: #eee;
  border: solid 1px #d8d8d8;
}
.tableDataContainer {
  background-color: #fff;
}
.tableDataVertical {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableDataVertical > tbody > tr:nth-child(odd) {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.tableDataVertical > tbody > tr > th.name {
  width: 170px;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr:not(:first-child) > th,
.tableDataVertical table.sub > tbody > tr:not(:first-child) > td {
  border-top: 1px dashed #aaa;
}
.tableDataVertical table.sub > tbody > tr > th {
  font-weight: normal;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr > th.name {
  text-align: right;
}
.icon16 {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 2px;
  cursor: pointer;
}
.subtleUntilHover {
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.subtleUntilHover:hover {
  -moz-opacity: 1;
  opacity: 1;
}
#layout_PageHeading #Device_Show_Status {
  /*position: absolute;
        right: 20px;
        top: 6px;*/
  margin-left: 20px;
  display: inline-block;
  height: 50px;
  font-family: "Segoe UI", Arial, Verdana, Tahoma, sans-serif;
  font-weight: lighter;
  font-stretch: condensed;
  font-size: 0.7em;
  text-transform: uppercase;
}
#layout_PageHeading #Device_Show_Status span.icon {
  margin-right: 6px;
}
#Device_Show #Device_Show_Subjects {
  table-layout: fixed;
}
#Device_Show #Device_Show_Subjects > tbody > tr > td {
  padding-top: 0;
  height: 100%;
}
#Device_Show #Device_Show_Subjects > tbody > tr > td > div {
  position: relative;
}
#Device_Show #Device_Show_Subjects > tbody > tr > td > div div.status {
  margin-top: 2px;
  padding-top: 2px;
  border-top: 1px dashed #ddd;
}
#Device_Show #Device_Show_Subjects > tbody > tr > td > div input.discreet {
  margin-left: -2px;
}
#Device_Show #Device_Show_Subjects > tbody > tr > td:not(:last-child) {
  border-right: 1px dashed #aaa;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details table.verticalHeadings > tbody > tr > td:first-child {
  width: 104px;
  font-weight: 600;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_Details_Asset_Name {
  font-weight: 600;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_Details_Asset_Enrolled_Trusted {
  display: inline-block;
  height: 16px;
  padding-left: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACWUlEQVQ4y6XRXWiSURgHcJsXa4WNNuuyiy6CoAupixERoXXhmljuxaJiFrVA1i72cVFCOSMt8rNt2YfGO5g5Z1NstWW+c4ZBq4QpqMkEbZDSCObAMprjdf90sIjxsgUdODd/zvmd5zwPCwDrf/aGB7q6utgmk8ngdruzVqt10eVyTWu1Wuk/AXK5vMpoNPpjsRgGbU8/9fbdH/J4PAuRSARKpfLKhoBYLG595nTCaDSZVjPp6TPbHQ5H0mAwfBeJRHXrAp0dna9JcqCguX2H/Xd+S625aLFYQBDE8XWBd+8/TI6Njc+vzcfGX4nLX4FOp5OuC0wGAlS53NzaPPAm2Gi32+H3+5tYJEl+pigKoVAIPp+PnpqaosPhMF1uHB2Px2mv14vya6VgMKhhHGN3d/dSMplENptFIpHA3NwcCoUCSqUSKqvScZVKBbPZHGQEFApFMZ1OI5PJIBqNrkD5fB40Ta8AlcrUajVsNpufEbh+42YxHEkh+/UbUqlZpGd/lAH8WTMzMzDd64d7NMAMDOobi/OpHqh6rqK9jcCvBQncQzK0Xm5DPn0BJ4lz6GgVIkedYAaamxqK0dEDePl4FziczehTsZGLs7BnNwdiwRac4lejvp6La83VzABv/8FF/qG9oD/WQS/fhNptHEw8rEJiuAo7ubXACAtH9m0Fu2YHxQzweEuEVIYnaiFmvQ04f1aItksi5KaP4ZFGjDB5GG/7j4LL5YYYgZYW2c/yiJbv6h/A0EvC4RjGiOsFnK4J+KgABmyjsDufL0skki8CgYCoXOLz+TWrwG+kXMkgQ6yv+QAAAABJRU5ErkJggg==) /*Images/Actions/unlocked.png*/;
  background-repeat: no-repeat;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_User #Device_Show_User_Photo_Container {
  float: left;
  padding-right: 2px;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_User #Device_Show_User_Photo {
  max-width: 48px;
  height: auto;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_User #Device_Show_User_Flags {
  font-size: 16px;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_User #Device_Show_User_Flags > i {
  cursor: default;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_User #Device_Show_User_Flags > i > .details {
  display: none;
}
#Device_Show #Device_Show_Subjects #Device_Show_Details #Device_Show_GenerateDocument_Container {
  padding-top: 4px;
}
#Device_Show #Device_Show_Subjects #Device_Show_Policies table.verticalHeadings > tbody > tr > td:first-child {
  width: 120px;
  font-weight: 600;
}
#Device_Show #Device_Show_Subjects #Device_Show_Aspects #Device_Show_Aspects_Model_Image {
  display: block;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}
#Device_Show #Device_Show_Subjects #Device_Show_Subjects_Actions > td {
  padding-top: 4px;
}
#DeviceDetailTabs {
  margin-top: 10px;
  /*jQuery Tab Extensions*/
  border-radius: 0;
  background-image: none;
  background-color: #fff;
  border: none;
  padding: 0;
}
#DeviceDetailTabs #DeviceDetailTabItems {
  border-radius: 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: none;
  padding: 2px 0 0 4px;
  background-image: none;
  background-color: #eee;
  display: table;
}
#DeviceDetailTabs #DeviceDetailTabItems > li {
  top: 0;
  border-radius: 0;
  margin: 0 5px 0 0;
  padding: 0;
  line-height: normal;
  margin-right: 4px;
}
#DeviceDetailTabs #DeviceDetailTabItems > li > a {
  padding: 5px 8px;
}
#DeviceDetailTabs div.ui-tabs-panel {
  border-radius: 0;
  padding: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: none;
  background-color: #eee;
}
#Device_Show_Policies_Profile_Actions_Update_Dialog ul li,
#Device_Show_Policies_Batch_Actions_Update_Dialog ul li {
  background-color: #fff;
  padding: 2px 0 2px 4px;
}
#Device_Show_Policies_Profile_Actions_Update_Dialog ul li:nth-child(odd),
#Device_Show_Policies_Batch_Actions_Update_Dialog ul li:nth-child(odd) {
  background-color: hsl(0, 0%, 98.5%);
}
#Device_Show_Policies_Profile_Actions_Update_Dialog ul li.selected,
#Device_Show_Policies_Batch_Actions_Update_Dialog ul li.selected {
  background-color: #cddbec;
  font-weight: 600;
}
#Device_Show_Policies_Profile_Actions_Update_Dialog label,
#Device_Show_Policies_Batch_Actions_Update_Dialog label {
  display: block;
}
#DeviceDetailTab-JobsContainer div.jobTable {
  margin: -1px;
  border: 1px solid #ddd;
}
#DeviceDetailTab-JobsContainer .dataTables_wrapper .dataTables_filter {
  margin-top: -24px;
  -moz-opacity: 1;
  opacity: 1;
}
#DeviceDetailTab-JobsContainer .dataTables_wrapper .dataTables_length {
  margin-top: -24px;
  -moz-opacity: 1;
  opacity: 1;
}
#DeviceDetailTab-JobsContainer .dataTables_wrapper .dataTables_showStatusClosed {
  right: 220px;
  margin-top: -24px;
}
#DeviceDetailTab-DetailsContainer > table {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
#DeviceDetailTab-DetailsContainer > table > tbody > tr > td {
  border: solid 1px #f4f4f4;
  background-color: #fff;
}
#DeviceDetailTab-DetailsContainer > table > tbody > tr:nth-child(odd) > td {
  background-color: hsl(0, 0%, 98.5%);
}
#DeviceDetailTab-DetailsContainer > table > thead > tr > th,
#DeviceDetailTab-DetailsContainer > table > tbody > tr > th {
  background-color: #f4f4f4;
  border: solid 1px #f4f4f4;
}
#DeviceDetailTab-DetailsContainer > table > tbody > tr:hover > td {
  background-color: hsl(0, 0%, 97.5%);
}
#DeviceDetailTab-DetailsContainer > table > tfoot > tr > th,
#DeviceDetailTab-DetailsContainer > table > tfoot > tr > td {
  background-color: #f4f4f4;
}
#DeviceDetailTab-DetailsContainer > table > tbody > tr > th {
  width: 150px;
}
#DeviceDetailTab-DetailsContainer > table > tbody > tr > th,
#DeviceDetailTab-DetailsContainer > table > tbody > tr > td.pad {
  padding: 10px 6px;
}
#DeviceDetailTab-DetailsContainer .device_detail_disk_drives .partition {
  position: relative;
  height: 40px;
}
#DeviceDetailTab-DetailsContainer .device_detail_disk_drives .partition > span {
  position: absolute;
  display: block;
  height: 40px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f4f4f4;
  padding: 2px;
  line-height: 18px;
  border: 1px solid #cacaca;
}
#DeviceDetailTab-DetailsContainer .device_detail_disk_drives .partition > span .details {
  position: relative;
}
#DeviceDetailTab-DetailsContainer .device_detail_disk_drives .partition > span .freespace {
  position: absolute;
  top: 0;
  height: 40px;
  display: block;
  background-color: #fff;
  background: repeating-linear-gradient(45deg, #f4f4f4, #f4f4f4 10px, #fff 10px, #fff 20px);
}
#deviceShowResources #AttachmentsContainer {
  padding: 0;
}
#deviceShowResources #Attachments {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}
#deviceShowResources #Attachments div.attachmentOutput {
  position: relative;
  height: 115px;
  overflow: auto;
}
#deviceShowResources #Attachments div.attachmentOutput > a {
  display: block;
  float: left;
  height: 48px;
  width: 221px;
  padding: 2px;
  margin: 2px;
  font-size: 0.9em;
  border: 1px solid #fff;
  color: #000;
  text-decoration: none;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.comments,
#deviceShowResources #Attachments div.attachmentOutput > a span.author,
#deviceShowResources #Attachments div.attachmentOutput > a span.timestamp {
  display: block;
  float: left;
  width: 168px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 16px;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.author {
  color: #888;
  width: 150px;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.timestamp {
  color: #888;
  font-style: italic;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.icon {
  display: block;
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 2px;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.icon img {
  height: 48px;
  width: 48px;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.icon img.loading {
  display: none;
}
#deviceShowResources #Attachments div.attachmentOutput > a:hover {
  background-color: #ededed;
  border: 1px solid #ccc;
}
#deviceShowResources #Attachments div.attachmentOutput > a:hover span.remove {
  opacity: 0.5;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.remove {
  font-size: 1.4em;
  color: #e51400;
  margin-left: 6px;
  cursor: pointer;
  opacity: 0;
}
#deviceShowResources #Attachments div.attachmentOutput > a span.remove:hover {
  opacity: 1;
}
#deviceShowResources #Attachments div.attachmentInput {
  border-top: 1px solid #ccc;
  height: 40px;
  background-color: #fff;
  padding: 3px;
}
#deviceShowResources #Attachments div.attachmentInput span.action {
  color: #333;
  display: block;
  margin: 0 4px 0 0;
  font-size: 1.5em;
  cursor: pointer;
  float: right;
  border: 1px solid #fff;
  padding: 0.5em;
}
#deviceShowResources #Attachments div.attachmentInput span.action:hover {
  color: #335A87;
  background-color: #ededed;
  border: 1px solid #ccc;
}
#deviceShowResources #Attachments div.attachmentInput span.action.disabled {
  color: rgba(51, 51, 51, 0.2);
  cursor: default;
}
#deviceShowResources #Attachments div.attachmentInput span.action.disabled:hover {
  color: rgba(51, 51, 51, 0.2);
  background-color: inherit;
  border: 1px solid #fff;
}
#Devices_Export .Devices_Export_Type_Target {
  margin-top: 10px;
  display: none;
}
#Devices_Export #Devices_Export_Fields #Devices_Export_Fields_Defaults {
  font-size: 0.75em;
}
#Devices_Export #Devices_Export_Fields th {
  font-size: 1.05em;
}
#Devices_Export #Devices_Export_Fields th span {
  margin-top: 4px;
  font-size: 0.8em;
}
#Devices_Export_Download_Dialog {
  padding-top: 20px;
  text-align: center;
}
#Devices_Export_Download_Dialog h4 {
  margin-bottom: 30px;
}
#Devices_Export_Download_Dialog a {
  margin-bottom: 20px;
}
#Devices_Export_Exporting {
  padding-top: 50px;
  text-align: center;
}
#Devices_Export_Exporting i {
  margin-right: 10px;
  color: #1e6dab;
}
#Devices_Import #ImportFile {
  width: 96%;
  margin-bottom: 8px;
}
#Devices_Import #Devices_Import_Documentation {
  width: 700px;
  margin: 20px auto;
}
#Devices_Import #Devices_Import_Documentation > table > tbody th:first-child {
  width: 220px;
}
#Devices_Import_Completed_Dialog {
  padding: 50px 0;
  text-align: center;
}
#Devices_Import_Completed_Dialog h3 {
  margin-bottom: 16px;
}
#Devices_Import_Completed_Dialog i {
  margin-right: 10px;
  color: #60A917;
}
#Devices_Import_Loading_Dialog {
  padding-top: 50px;
  text-align: center;
}
#Devices_Import_Loading_Dialog i {
  margin-right: 10px;
  color: #1e6dab;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer {
  margin: 18px 0;
  overflow-x: auto;
  border: 1px solid #ccc;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > thead {
  white-space: nowrap;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > thead ul.importHeaderType > li > a > span:not(.ui-menu-icon) {
  padding-right: 16px;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > thead ul.importHeaderType ul {
  z-index: 1000;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > thead td.headerIgnoreColumn {
  background-color: #FA6800;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > thead td:not(.headerIgnoreColumn) {
  background-color: #1e6dab;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > tbody td.headerDeviceSerialNumber {
  border-top-color: #d1e6f7;
  border-bottom-color: #d1e6f7;
  background-color: #e2f0fa;
}
#Devices_Import_Headers #Devices_Import_Headers_TableContainer table > tbody td.headerIgnoreColumn {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #ccc;
}
#Devices_Import_Parsing_Dialog {
  padding-top: 50px;
  text-align: center;
}
#Devices_Import_Parsing_Dialog i {
  margin-right: 10px;
  color: #1e6dab;
}
#Devices_Import_Review #Devices_Import_Review_Navigation {
  margin-top: 15px;
  text-align: right;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul {
  display: inline-block;
  padding: 0px;
  border: 1px solid #bbb;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul li {
  display: inline-block;
  padding: 3px 10px;
  margin: 0;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul li.actionDetached {
  background-color: #ffd0cc;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul li.actionModified {
  background-color: #e2f0fa;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul li.actionAdded {
  background-color: #e7f9d5;
}
#Devices_Import_Review #Devices_Import_Review_Navigation ul li.actionUnchanged {
  background-color: hsl(0, 0%, 98.5%);
}
#Devices_Import_Review #Devices_Import_Review_TableContainer {
  margin: 18px 0;
  overflow-x: auto;
  border: 1px solid #ccc;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > thead {
  white-space: nowrap;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > thead tr:nth-child(2) th {
  padding-top: 0;
  font-weight: normal;
  font-size: 0.9em;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.action {
  text-align: center;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionDetached td.action i:before {
  color: #e51400;
  content: "\f12a";
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionDetached td {
  background-color: #ffe7e5;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionUnchanged td.action i:before {
  content: "\f068";
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionUnchanged td {
  background-color: hsl(0, 0%, 98.5%);
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionUnchanged td:nth-child(n+3) {
  color: #ccc;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionModified td.action i:before {
  color: #1e6dab;
  content: "\f040";
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionModified td {
  background-color: #f4f9fd;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionAdded td.action i:before {
  color: #60A917;
  content: "\f067";
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr.actionAdded td {
  background-color: #e7f9d5;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody tr:not(.actionUnchanged) td.actionUnchanged:nth-child(n+3):not(.headerDeviceSerialNumber) {
  color: #ccc;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.actionError {
  color: #e51400;
  background-color: #fff1ef;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.actionError span.errorMessage {
  display: none;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.actionModified {
  background-color: #e2f0fa !important;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerDeviceSerialNumber,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerDeviceDecommissionedDate,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerDeviceDecommissionedReason,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerModelId,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerBatchId,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerProfileId,
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody td.headerAssignedUserId {
  white-space: nowrap;
}
#Devices_Import_Review #Devices_Import_Review_TableContainer table > tbody span.smallMessage {
  color: inherit;
}