.tableData {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableData > tbody > tr > td {
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
}
.tableData > tbody > tr:nth-child(odd) > td {
  background-color: #fcfcfc;
}
.tableData > thead > tr > th,
.tableData > tbody > tr > th {
  background-color: #f4f4f4;
  border: solid 1px #f4f4f4;
}
.tableData > tbody > tr:hover > td {
  background-color: #fefefe;
}
.tableData > tbody > tr:hover:nth-child(odd) > td {
  background-color: #fafafa;
}
.tableData > tfoot > tr > th,
.tableData > tfoot > tr > td {
  background-color: #f4f4f4;
}
.tableDataDark {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
.tableDataDark td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.tableDataDark th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
.tableDataContainer {
  background-color: #ffffff;
}
.tableDataVertical {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableDataVertical > tbody > tr:nth-child(odd) {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.tableDataVertical > tbody > tr > th.name {
  width: 170px;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr:not(:first-child) > th,
.tableDataVertical table.sub > tbody > tr:not(:first-child) > td {
  border-top: 1px dashed #aaa;
}
.tableDataVertical table.sub > tbody > tr > th {
  font-weight: normal;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr > th.name {
  text-align: right;
}
.icon16 {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 2px;
  cursor: pointer;
}
.subtleUntilHover {
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.subtleUntilHover:hover {
  -moz-opacity: 1;
  opacity: 1;
}
#layout_PageHeading #Job_Show_Status {
  /*position: absolute;
        right: 20px;
        top: 6px;*/

  margin-left: 20px;
  display: inline-block;
  height: 50px;
  font-family: "Segoe UI", Arial, Verdana, Tahoma, sans-serif;
  font-weight: lighter;
  font-stretch: condensed;
  font-size: 0.7em;
  text-transform: uppercase;
}
#layout_PageHeading #Job_Show_Status span.icon {
  margin-right: 6px;
}
#layout_PageHeading #Job_Show_QueueStatus {
  display: inline-block;
  float: right;
  height: 50px;
  font-size: 0.6em;
}
#Job_Show #Job_Show_Subjects {
  table-layout: fixed;
}
#Job_Show #Job_Show_Subjects > tbody > tr > td {
  padding-top: 0;
  height: 100%;
}
#Job_Show #Job_Show_Subjects > tbody > tr > td > div {
  position: relative;
}
#Job_Show #Job_Show_Subjects > tbody > tr > td > div div.status {
  margin-top: 2px;
  padding-top: 2px;
  border-top: 1px dashed #ddd;
}
#Job_Show #Job_Show_Subjects > tbody > tr > td > div input.discreet {
  margin-left: -2px;
}
#Job_Show #Job_Show_Subjects > tbody > tr > td:not(:last-child) {
  border-right: 1px dashed #aaa;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_Type > table {
  table-layout: fixed;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_SubTypes_1,
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_SubTypes_2 {
  padding-left: 16px;
  font-weight: bold;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_SubTypes_Update {
  margin-left: 16px;
  font-size: 0.9em;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_SubTypes_Update_Dialog {
  display: none;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_Dates {
  padding-bottom: 6px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_Dates table {
  table-layout: fixed;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_Dates table > tbody > tr > td {
  vertical-align: middle;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_Job_Dates table > tbody > tr > td:first-child {
  font-weight: bold;
  width: 60px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_GenerateDocument_Container {
  padding-top: 4px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Job #Job_Show_GenerateDocument_Container #Job_Show_GenerateDocument {
  padding: 0;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device > div {
  padding-left: 102px;
  min-height: 100px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Model_Image {
  position: absolute;
  left: 0;
  top: 0;
  height: 96px;
  width: 96px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Details {
  float: left;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Details_HWar,
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Details_HNWar {
  float: right;
  border-left: 1px dashed #ddd;
  padding-left: 4px;
  margin-right: 2px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Details_HWar_Details_Button,
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_Details_HNWar_Details_Button {
  font-size: .9em;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_DeviceHeld table {
  table-layout: fixed;
}
#Job_Show #Job_Show_Subjects #Job_Show_Device #Job_Show_Device_DeviceHeld table > tbody > tr > td:first-child {
  width: 62px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Subjects_Actions > td {
  padding-top: 4px;
}
#Job_Show #Job_Show_Subjects #Job_Show_Subjects_Actions #Job_Show_Device_Actions {
  padding-left: 111px;
}
#jobDetailTabs {
  margin-top: 10px;
  /*.jobPart
    {
        height: 305px;
        overflow: auto;
    }*/

  /*jQuery Tab Extensions*/

  border-radius: 0;
  background-image: none;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
#jobDetailTabs #jobDetailTabItems {
  border-radius: 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: none;
  padding: 2px 0 0 4px;
  background-image: none;
  background-color: #eee;
  display: table;
}
#jobDetailTabs #jobDetailTabItems > li {
  top: 0;
  border-radius: 0;
  margin: 0 5px 0 0;
  padding: 0;
  line-height: normal;
  margin-right: 4px;
}
#jobDetailTabs #jobDetailTabItems > li > a {
  padding: 5px 8px;
}
#jobDetailTabs div.ui-tabs-panel {
  border-radius: 0;
  padding: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: none;
  background-color: #eee;
}
#jobShowResources #Comments {
  width: 375px;
  height: 300px;
  padding: 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
#jobShowResources #Comments div.commentOutput {
  height: 249px;
  overflow: auto;
  background-color: #fafafa;
  color: #000000;
}
#jobShowResources #Comments div.commentOutput > div {
  padding: 3px;
  margin: 4px 6px;
  border-bottom: 1px solid #cccccc;
}
#jobShowResources #Comments div.commentOutput > div span.author {
  color: #444;
  display: block;
  font-weight: bold;
  font-size: 0.95em;
  float: left;
}
#jobShowResources #Comments div.commentOutput > div span.timestamp {
  display: block;
  float: right;
  font-size: 0.90em;
  font-style: italic;
}
#jobShowResources #Comments div.commentOutput > div span.comment {
  clear: both;
  display: block;
  margin-left: 4px;
}
#jobShowResources #Comments div.commentOutput > div:hover span.remove {
  opacity: .5;
}
#jobShowResources #Comments div.commentOutput > div span.remove {
  font-size: 1.2em;
  color: #e51400;
  margin-left: 6px;
  cursor: pointer;
  opacity: 0;
}
#jobShowResources #Comments div.commentOutput > div span.remove:hover {
  opacity: 1;
}
#jobShowResources #Comments div.commentOutput > div:last-child {
  border-bottom: none;
}
#jobShowResources #Comments.cannotAddLogs div.commentOutput {
  height: 300px;
}
#jobShowResources #Comments div.commentInput {
  border-top: 1px solid #cccccc;
  height: 40px;
  padding: 5px;
}
#jobShowResources #Comments div.commentInput textarea.commentInput {
  border: 0;
  padding: 0;
  margin: 0;
  width: 325px;
  height: 40px;
  min-height: 40px;
  overflow: auto;
  float: left;
  resize: none;
}
#jobShowResources #Comments div.commentInput span.action {
  color: #333333;
  font-size: 1.5em;
  display: block;
  margin: 0;
  cursor: pointer;
  float: left;
  border: 1px solid #ffffff;
  padding: .5em;
}
#jobShowResources #Comments div.commentInput span.action:hover {
  color: #335a87;
  background-color: #ededed;
  border: 1px solid #cccccc;
}
#jobShowResources #Attachments {
  height: 300px;
  padding: 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
#jobShowResources #Attachments div.attachmentOutput {
  height: 249px;
  overflow: auto;
}
#jobShowResources #Attachments div.attachmentOutput > a {
  display: block;
  float: left;
  height: 48px;
  width: 221px;
  padding: 2px;
  margin: 2px;
  font-size: 0.95em;
  border: 1px solid #ffffff;
  color: #000000;
  text-decoration: none;
}
#jobShowResources #Attachments div.attachmentOutput > a span.comments,
#jobShowResources #Attachments div.attachmentOutput > a span.author,
#jobShowResources #Attachments div.attachmentOutput > a span.timestamp {
  display: block;
  float: left;
  width: 168px;
  overflow: hidden;
  height: 16px;
}
#jobShowResources #Attachments div.attachmentOutput > a span.author {
  color: #888;
  width: 150px;
}
#jobShowResources #Attachments div.attachmentOutput > a span.timestamp {
  color: #888;
  font-style: italic;
}
#jobShowResources #Attachments div.attachmentOutput > a span.icon {
  display: block;
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 2px;
}
#jobShowResources #Attachments div.attachmentOutput > a span.icon img {
  height: 48px;
  width: 48px;
}
#jobShowResources #Attachments div.attachmentOutput > a:hover {
  background-color: #ededed;
  border: 1px solid #cccccc;
}
#jobShowResources #Attachments div.attachmentOutput > a:hover span.remove {
  opacity: .5;
}
#jobShowResources #Attachments div.attachmentOutput > a span.remove {
  font-size: 1.2em;
  color: #e51400;
  margin-left: 2px;
  cursor: pointer;
  opacity: 0;
}
#jobShowResources #Attachments div.attachmentOutput > a span.remove:hover {
  opacity: 1;
}
#jobShowResources #Attachments.cannotAddAttachments div.attachmentOutput {
  height: 300px;
}
#jobShowResources #Attachments div.attachmentInput {
  border-top: 1px solid #cccccc;
  height: 40px;
  background-color: #ffffff;
  padding: 5px;
}
#jobShowResources #Attachments div.attachmentInput span.action {
  color: #333333;
  display: block;
  margin: 0 4px 0 0;
  font-size: 1.5em;
  cursor: pointer;
  float: right;
  border: 1px solid #ffffff;
  padding: .5em;
}
#jobShowResources #Attachments div.attachmentInput span.action:hover {
  color: #335a87;
  background-color: #ededed;
  border: 1px solid #cccccc;
}
#Job_Show_Job_Actions_AddQueue_Dialog {
  height: 400px;
}
#Job_Show_Job_Actions_AddQueue_Dialog .queuePicker {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
}
#Job_Show_Job_Actions_AddQueue_Dialog .queuePicker > div {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 6px 0 6px 6px;
  cursor: pointer;
}
#Job_Show_Job_Actions_AddQueue_Dialog .queuePicker > div:hover {
  background-color: #f4f4f4;
}
#Job_Show_Job_Actions_AddQueue_Dialog .queuePicker > div.selected,
#Job_Show_Job_Actions_AddQueue_Dialog .queuePicker > div.selected:hover {
  background-color: #eeeeee;
}
#Job_Show_Job_Actions_AddQueue_Dialog .details {
  display: none;
  position: absolute;
  left: 280px;
  top: 40px;
}
#Job_Show_Job_Actions_AddQueue_Dialog .details h4 {
  margin-bottom: 4px;
}
#Job_Show_Job_Actions_AddQueue_Dialog .details #Priority {
  margin-bottom: 10px;
  min-width: 200px;
}
#Job_Show_Job_Actions_AddQueue_Dialog .details #SLAExpiresMinutes {
  margin-bottom: 10px;
  min-width: 200px;
}
#Job_Show_Job_Actions_AddQueue_Dialog .details #Comment {
  min-width: 280px;
}
#jobDetailTab-Queues #jobQueues {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
  table-layout: fixed;
}
#jobDetailTab-Queues #jobQueues td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobDetailTab-Queues #jobQueues th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobDetailTab-Queues #jobQueues i.fa-edit {
  float: right;
  margin-top: 4px;
  font-size: 1.1em;
  cursor: pointer;
  display: none;
  color: #335a87;
}
#jobDetailTab-Queues #jobQueues i.fa-edit:hover {
  color: #5e8cc2;
}
#jobDetailTab-Queues #jobQueues td:hover i.fa-edit {
  display: inline-block;
}
#jobDetailTab-Queues #jobQueues th.name {
  width: 200px;
}
#jobDetailTab-Queues #jobQueues th.sla {
  width: 130px;
}
#jobDetailTab-Queues #jobQueues tr.removed td {
  background-color: #f4f4f4;
}
#jobDetailTab-Queues #jobQueues td.name {
  vertical-align: middle;
}
#jobDetailTab-Queues #jobQueues td.name .fa-stack {
  line-height: 1.6em;
}
#jobDetailTab-Queues #jobQueues td.added .when,
#jobDetailTab-Queues #jobQueues td.removed .when {
  font-style: italic;
  margin-top: 4px;
  font-size: .9em;
}
#jobDetailTab-Queues #jobQueues td.added .comments,
#jobDetailTab-Queues #jobQueues td.removed .comments {
  white-space: pre-line;
}
#jobDetailTab-Queues #jobQueues td.removed.na {
  vertical-align: middle;
  text-align: center;
}
#jobDetailTab-Queues #jobQueues td.sla {
  vertical-align: middle;
}
#jobDetailTab-Queues #jobQueues td.sla.overdue {
  color: #e51400;
}
#jobDetailTab-Queues > .none {
  text-align: center;
  padding: 30px 0;
  font-style: italic;
  background-color: #ffffff;
}
#Job_Show_Queues_Actions_EditAddedComment_Dialog h4,
#Job_Show_Queues_Actions_EditRemovedComment_Dialog h4,
#Job_Show_Queues_Actions_EditSla_Dialog h4 {
  margin-bottom: 4px;
}
#Job_Show_Queues_Actions_EditAddedComment_Dialog_Comment {
  width: 280px;
}
#Job_Show_Queues_Actions_EditRemovedComment_Dialog_Comment {
  width: 280px;
}
#jobComponents {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
#jobComponents td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobComponents th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobComponents tr th.actions {
  width: 18px;
}
#jobComponents tr input.description {
  width: 400px;
}
#jobComponents tr input.cost {
  width: 150px;
}
#jobComponents tr span.remove {
  font-size: 1.5em;
  color: #e51400;
  cursor: pointer;
  opacity: .5;
}
#jobComponents tr span.remove:hover {
  opacity: 1;
}
#jobComponents tr input.updating {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///zNah+Hm7dng6O7x9DddiTNah1d3nJqtw3+Xs8fS3k5vlm6JqaGzx4KatcrU4FFymDZciHGMq+ru8t/l7Pb3+V9+oeLo7vT2+MTP3LLB0dTc5fHz9gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA) /*Images/Status/loading.gif*/;
}
#jobComponents tr .totalCost {
  font-weight: bold;
}
#jobNonWarrantyFinance {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
#jobNonWarrantyFinance td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobNonWarrantyFinance th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobNonWarrantyFinance tr th {
  width: 200px;
  text-align: right;
}
#jobNonWarrantyRepairs {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
#jobNonWarrantyRepairs td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobNonWarrantyRepairs th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobNonWarrantyRepairs tr th {
  width: 200px;
  text-align: right;
}
#jobNonWarrantyInsurance {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
#jobNonWarrantyInsurance td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobNonWarrantyInsurance th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobNonWarrantyInsurance tr th {
  width: 200px;
  text-align: right;
}
#jobNonWarrantyInsurance tr td textarea {
  width: 400px;
}
#jobFlags {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
#jobFlags td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
#jobFlags th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
#jobFlags tr th {
  width: 200px;
  text-align: right;
}
#warrantyJobForm #warrantyDisclosedInformation table {
  font-size: 0.9em;
}
#warrantyJobForm #warrantyDisclosedInformation table tr:not(:last-child) {
  border-bottom: 1px dashed #aaa;
}
#warrantyJobForm #warrantyDisclosedInformation table th {
  padding: 2px;
  font-weight: bold;
  width: 200px;
}
#warrantyJobForm #warrantyDisclosedInformation table td {
  padding: 2px;
}
#warrantyJobFaultDescription #FaultDescription {
  width: 600px;
  height: 250px;
}
#createJob_Container {
  margin: 0 -20px;
}
#createJob_Container img.modelImage {
  width: 64px;
  height: 64px;
}
#createJob_Container .createJob_Component {
  margin: 0 10px;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
}
#createJob_Container .createJob_Component:last-child {
  border-bottom: none;
}
#createJob_Container #createJob_Type {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 2px 4px;
}
#createJob_Container #createJob_SubTypes {
  margin: -1px 0 0 20px;
  border: 1px solid #ccc;
  border-top: none;
  padding: 2px 4px;
  background-color: #f2f2f2;
}
#createJob_Container #createJob_SubTypes .createJob_SubType {
  display: none;
}
#createJob_Container #createJob_Type li,
#createJob_Container #createJob_SubTypes li {
  margin: 2px 0;
  padding: 0 0 0 4px;
}
#createJob_Container #createJob_Type li i,
#createJob_Container #createJob_SubTypes li i {
  display: none;
  cursor: default;
  font-weight: normal;
}
#createJob_Container #createJob_Type li:hover i,
#createJob_Container #createJob_SubTypes li:hover i {
  display: inline-block;
}
#createJob_Container #createJob_Type li.highlight,
#createJob_Container #createJob_SubTypes li.highlight {
  background-color: #cddbec;
  font-weight: 600;
  color: #000000;
}
#createJob_Container #createJob_Type li.highlight i,
#createJob_Container #createJob_SubTypes li.highlight i {
  display: inline-block;
}
#createJob_Container #createJob_CommentsContainer #Comments {
  width: 100%;
  min-width: 500px;
}
#createJob_Container #createJob_QuickLogAutoCloseContainer h3 {
  margin-bottom: 4px;
}
#createJob_Container #createJob_QuickLogAutoCloseContainer input {
  margin-left: 6px;
}
#createJob_Container #createJob_QuickLogTaskTimeContainer {
  display: none;
  margin: 4px 0 0 25px;
  padding: 4px 4px;
  background-color: #f2f2f2;
  border-left: 4px solid #d8d8d8;
}
#createJob_Container #createJob_QuickLogTaskTimeContainer h4 {
  display: inline-block;
  padding-right: 10px;
}
#createJob_Container #createJob_QuickLogTaskTimeContainer label {
  margin-right: 20px;
}
#createJob_Container #createJob_QuickLogTaskTimeContainer #createJob_TaskTimeOtherMinutesContainer {
  display: none;
}
#createJob_Container #createJob_QuickLogTaskTimeContainer #createJob_TaskTimeOtherMinutes {
  width: 50px;
}
