.tableData {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableData > tbody > tr > td {
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
}
.tableData > tbody > tr:nth-child(odd) > td {
  background-color: #fcfcfc;
}
.tableData > thead > tr > th,
.tableData > tbody > tr > th {
  background-color: #f4f4f4;
  border: solid 1px #f4f4f4;
}
.tableData > tbody > tr:hover > td {
  background-color: #fefefe;
}
.tableData > tbody > tr:hover:nth-child(odd) > td {
  background-color: #fafafa;
}
.tableData > tfoot > tr > th,
.tableData > tfoot > tr > td {
  background-color: #f4f4f4;
}
.tableDataDark {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
}
.tableDataDark td {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.tableDataDark th {
  background-color: #eeeeee;
  border: solid 1px #d8d8d8;
}
.tableDataContainer {
  background-color: #ffffff;
}
.tableDataVertical {
  border: solid 1px #f4f4f4;
  border-collapse: collapse;
}
.tableDataVertical > tbody > tr:nth-child(odd) {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.tableDataVertical > tbody > tr > th.name {
  width: 170px;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr:not(:first-child) > th,
.tableDataVertical table.sub > tbody > tr:not(:first-child) > td {
  border-top: 1px dashed #aaa;
}
.tableDataVertical table.sub > tbody > tr > th {
  font-weight: normal;
  text-align: right;
}
.tableDataVertical table.sub > tbody > tr > th.name {
  text-align: right;
}
.icon16 {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 2px;
  cursor: pointer;
}
.subtleUntilHover {
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.subtleUntilHover:hover {
  -moz-opacity: 1;
  opacity: 1;
}
#User_Show #User_Show_Subjects {
  table-layout: fixed;
}
#User_Show #User_Show_Subjects > tbody > tr > td {
  padding-top: 0;
  height: 100%;
}
#User_Show #User_Show_Subjects > tbody > tr > td > div {
  position: relative;
}
#User_Show #User_Show_Subjects > tbody > tr > td > div div.status {
  margin-top: 2px;
  padding-top: 2px;
  border-top: 1px dashed #ddd;
}
#User_Show #User_Show_Subjects > tbody > tr > td > div input.discreet {
  margin-left: -2px;
}
#User_Show #User_Show_Subjects > tbody > tr > td:not(:last-child) {
  border-right: 1px dashed #aaa;
}
#User_Show #User_Show_Subjects #User_Show_Details {
  width: 330px;
}
#User_Show #User_Show_Subjects #User_Show_Details table.verticalHeadings > tbody > tr > td:first-child {
  width: 104px;
  font-weight: bold;
}
#User_Show #User_Show_Subjects #User_Show_Details #User_Show_Details_Identity_Id {
  font-weight: bold;
}
#User_Show #User_Show_Subjects #User_Show_Details #User_Show_GenerateDocument_Container {
  padding-top: 4px;
}
#User_Show #User_Show_Subjects #User_Show_Details #User_Show_GenerateDocument_Container #User_Show_GenerateDocument {
  padding: 0;
}
#User_Show #User_Show_Subjects #User_Show_Details #User_Show_Details_Actions {
  margin-top: 4px;
}
#User_Show #User_Show_Subjects #User_Show_AssignedDevices .User_Show_AssignedDevices_CurrentAssignment {
  border-bottom: 1px dashed #ddd;
  padding: 4px;
}
#User_Show #User_Show_Subjects #User_Show_AssignedDevices .User_Show_AssignedDevices_CurrentAssignment td:first-child {
  width: 90px;
  font-weight: bold;
}
#User_Show #User_Show_Subjects #User_Show_AssignedDevices .User_Show_AssignedDevices_CurrentAssignment img.User_Show_AssignedDevices_CurrentAssignment_Image {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 6px;
}
#User_Show #User_Show_Subjects #User_Show_AssignedDevices .User_Show_AssignedDevices_CurrentAssignment div.User_Show_AssignedDevices_CurrentAssignment_Details {
  float: left;
}
#User_Show #User_Show_Subjects #User_Show_Subjects_Actions > td {
  padding-top: 4px;
}
#UserDetailTabs {
  margin-top: 10px;
  /*jQuery Tab Extensions*/
  border-radius: 0;
  background-image: none;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
#UserDetailTabs #UserDetailTabItems {
  border-radius: 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: none;
  padding: 2px 0 0 4px;
  background-image: none;
  background-color: #eee;
  display: table;
}
#UserDetailTabs #UserDetailTabItems > li {
  top: 0;
  border-radius: 0;
  margin: 0 5px 0 0;
  padding: 0;
  line-height: normal;
  margin-right: 4px;
}
#UserDetailTabs #UserDetailTabItems > li > a {
  padding: 5px 8px;
}
#UserDetailTabs div.ui-tabs-panel {
  border-radius: 0;
  padding: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: none;
  background-color: #eee;
}
#UserDetailTab-JobsContainer div.jobTable {
  margin: -1px;
  border: 1px solid #ddd;
}
#UserDetailTab-JobsContainer .dataTables_wrapper .dataTables_filter {
  margin-top: -24px;
  -moz-opacity: 1;
  opacity: 1;
}
#UserDetailTab-JobsContainer .dataTables_wrapper .dataTables_length {
  margin-top: -24px;
  -moz-opacity: 1;
  opacity: 1;
}
#UserDetailTab-JobsContainer .dataTables_wrapper .dataTables_showStatusClosed {
  right: 220px;
  margin-top: -24px;
}
#UserDetailTab-Authorization #UserDetailTab-AuthorizationContainer {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_ClaimsTree_Container {
  width: 50%;
  float: left;
  padding: 6px 10px 6px 4px;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_ClaimsTree_Container > span.smallMessage:last-child {
  display: block;
  text-align: right;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_Membership {
  width: 40%;
  float: right;
  padding: 6px 10px;
  border-left: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_Membership #UserDetailTab-Authorization_Membership_Roles {
  margin-bottom: 10px;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_Membership #UserDetailTab-Authorization_Membership_Groups_Container > span.smallMessage:last-child {
  display: block;
  text-align: right;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_NoAccess {
  width: 50%;
  float: left;
  padding: 6px 10px;
}
#UserDetailTab-Authorization #UserDetailTab-Authorization_NoAccess h3 {
  margin-bottom: 10px;
}
#userShowResources #AttachmentsContainer {
  padding: 0;
}
#userShowResources #Attachments {
  position: relative;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
#userShowResources #Attachments div.attachmentOutput {
  position: relative;
  height: 115px;
  overflow: auto;
  font-size: 0.95em;
}
#userShowResources #Attachments div.attachmentOutput > a {
  display: block;
  float: left;
  height: 48px;
  width: 221px;
  padding: 2px;
  margin: 2px;
  font-size: 0.9em;
  border: 1px solid #ffffff;
  color: #000000;
  text-decoration: none;
}
#userShowResources #Attachments div.attachmentOutput > a span.comments,
#userShowResources #Attachments div.attachmentOutput > a span.author,
#userShowResources #Attachments div.attachmentOutput > a span.timestamp {
  display: block;
  float: left;
  width: 168px;
  overflow: hidden;
  height: 16px;
}
#userShowResources #Attachments div.attachmentOutput > a span.author {
  color: #888;
  width: 150px;
}
#userShowResources #Attachments div.attachmentOutput > a span.timestamp {
  color: #888;
  font-style: italic;
}
#userShowResources #Attachments div.attachmentOutput > a span.icon {
  display: block;
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 2px;
}
#userShowResources #Attachments div.attachmentOutput > a span.icon img {
  height: 48px;
  width: 48px;
}
#userShowResources #Attachments div.attachmentOutput > a span.icon img.loading {
  display: none;
}
#userShowResources #Attachments div.attachmentOutput > a:hover span.remove {
  opacity: .5;
}
#userShowResources #Attachments div.attachmentOutput > a span.remove {
  font-size: 1.4em;
  color: #e51400;
  margin-left: 6px;
  cursor: pointer;
  opacity: 0;
}
#userShowResources #Attachments div.attachmentOutput > a span.remove:hover {
  opacity: 1;
}
#userShowResources #Attachments.cannotAddAttachments div.attachmentOutput {
  height: 162px;
}
#userShowResources #Attachments div.attachmentInput {
  border-top: 1px solid #cccccc;
  height: 40px;
  background-color: #ffffff;
  padding: 3px;
}
#userShowResources #Attachments div.attachmentInput span.action {
  color: #333333;
  display: block;
  margin: 0 4px 0 0;
  font-size: 1.5em;
  cursor: pointer;
  float: right;
  border: 1px solid #ffffff;
  padding: .5em;
}
#userShowResources #Attachments div.attachmentInput span.action:hover {
  color: #335a87;
  background-color: #ededed;
  border: 1px solid #cccccc;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments {
  margin-top: 6px;
  background-color: #ffffff;
  line-height: 1.3em;
  border: 1px solid #ddd;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment {
  display: block;
  padding: 4px;
  cursor: pointer;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment:not(:last-child) {
  border-bottom: 1px dashed #ddd;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment:hover {
  background-color: #f4f4f4;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment td:first-child {
  width: 90px;
  font-weight: bold;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment img.CreateJob_Assignment_Image {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 6px;
}
#User_Show_Details_Actions_CreateJob_Dialog #CreateJob_Assignments li.CreateJob_Assignment div.CreateJob_Assignment_Details {
  float: left;
}
