@import "Shared";

#layout_PageHeading {
    #User_Show_Flags {
        display: inline-block;
        float: right;
        font-size: 0.6em;

        & > i {
            cursor: default;

            & > .details {
                display: none;
            }
        }
    }
}

#User_Show {
    #User_Show_Subjects {
        table-layout: fixed;

        & > tbody > tr > td {
            padding-top: 0;
            height: 100%;

            & > div /* Extra DIV added for FireFox TD relative position incompatibility */ {

                div.status {
                    margin-top: 2px;
                    padding-top: 2px;
                    border-top: 1px dashed #ddd;
                }

                input.discreet {
                    margin-left: -2px;
                }
            }
        }

        & > tbody > tr > td:not(:last-child) {
            border-right: 1px dashed #aaa;
        }

        #User_Show_Details {
            width: 330px;

            &.hasPhoto {
                width: 450px;
            }

            #User_Show_Details_Photo_Container {
                float: left;
                padding-right: 4px;
            }

            #User_Show_Details_Photo {
                max-height: 192px;
                width: auto;
            }

            table.verticalHeadings {
                width: auto;

                & > tbody > tr > td:first-child {
                    width: 104px;
                    font-weight: @FontWeightBodyBold;
                }
            }

            #User_Show_Details_Identity_Id {
                font-weight: @FontWeightBodyBold;
            }

            #User_Show_GenerateDocument_Container {
                padding-top: 4px;
            }

            #User_Show_Details_Actions {
                margin-top: 4px;
            }
        }

        #User_Show_AssignedDevices {

            .User_Show_AssignedDevices_CurrentAssignment {
                border-bottom: 1px dashed #ddd;
                padding: 4px;

                td:first-child {
                    width: 90px;
                    font-weight: @FontWeightBodyBold;
                }

                img.User_Show_AssignedDevices_CurrentAssignment_Image {
                    float: left;
                    width: 64px;
                    height: 64px;
                    margin-right: 6px;
                }

                div.User_Show_AssignedDevices_CurrentAssignment_Details {
                    float: left;
                }

                .User_Show_Assigned_Devices_CurrentAssignment_Flags {
                    font-size: 16px;

                    & > i {
                        cursor: default;

                        & > .details {
                            display: none;
                        }
                    }
                }
            }
        }

        #User_Show_Subjects_Actions {
            & > td {
                padding-top: 4px;
            }
        }
    }
}

#UserDetailTabs {
    margin-top: 10px;
    /*jQuery Tab Extensions*/
    border-radius: 0;
    background-image: none;
    background-color: @white;
    border: none;
    padding: 0;

    #UserDetailTabItems {
        border-radius: 0;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: none;
        padding: 2px 0 0 4px;
        background-image: none;
        background-color: #eee;
        display: table;

        & > li {
            top: 0;
            border-radius: 0;
            margin: 0 5px 0 0;
            padding: 0;
            line-height: normal;
            margin-right: 4px;

            & > a {
                padding: 5px 8px;
            }
        }
    }

    div.ui-tabs-panel {
        border-radius: 0;
        padding: 4px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-top: none;
        background-color: #eee;
    }
}

#UserDetailTab-CommentsAndJobs {
    display: grid;
    grid-template-columns: auto;

    &.canShowComments.canShowJobs {
        grid-template-columns: 375px auto;

        & > #UserDetailTab-Comments {
            grid-column: 1;
        }

        & > #UserDetailTab-JobsContainer {
            grid-column: 2;
        }
    }

    &.cannotShowComments div.jobTable {
        border: 1px solid @SubtleBorderColour;
    }
}

#UserDetailTab-CommentsContainer {
    max-height: 650px;
}

#UserDetailTab-JobsContainer {
    max-height: 650px;
    overflow: auto;
}

#Comments {
    box-sizing: border-box;
    height: 100%;
    min-height: 373px;
    padding-bottom: 51px;
    border: 1px solid @SubtleBorderColour;
    background-color: @white;
    position: relative;

    div.commentInput {
        border-top: 1px solid @SubtleBorderColour;
        box-sizing: border-box;
        width: 100%;
        height: 51px;
        padding: 5px;
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: auto 40px;

        textarea.commentInput {
            grid-column: 1;
            border: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 40px;
            min-height: 40px;
            overflow: auto;
            resize: none;
        }

        button {
            grid-column: 2;
            appearance: none;
            font-size: 1.5em;
            display: block;
            border: 1px solid @white;
            background-color: @white;

            &:not([disabled]) {
                &:hover, &:focus {
                    color: @HyperLinkColour;
                    background-color: @SubtleColour;
                    border: 1px solid @SubtleBorderColour;
                }
            }

            &[disabled] {
                color: fade(@HeaderBackgroundColour, 20%);
                cursor: default;
            }
        }
    }

    div.commentOutput {
        height: 100%;
        overflow: auto;
        background-color: @BackgroundColourLight;
        color: @black;

        & > div {
            padding: 3px;
            margin: 4px 6px;
            border-bottom: 1px solid @SubtleBorderColour;

            span.author {
                color: #444;
                display: block;
                font-weight: @FontWeightBodyBold;
                font-size: 0.95em;
                float: left;
            }

            span.timestamp {
                display: block;
                float: right;
                font-size: 0.90em;
                font-style: italic;
            }

            div.comment {
                clear: both;
                display: block;
                margin-left: 4px;

                p {
                    line-height: 1.2em;
                    padding-bottom: .2em;
                }

                h1, h2, h3, h4, h5 {
                    font-family: @FontFamilyBody;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 2px 0 !important;
                }

                hr {
                    margin-top: .2em;
                }

                code {
                    font-size: .9em;
                }
            }

            &:hover {
                span.remove {
                    opacity: .5;
                }
            }

            span.remove {
                font-size: 1.2em;
                color: @StatusRemove;
                margin-left: 6px;
                cursor: pointer;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &.cannotAddComments {
        padding-bottom: 0;
    }
}

#UserDetailTab-JobsContainer {

    div.jobTable {
        min-height: 320px;
        border-top: 1px solid @SubtleBorderColour;
        border-right: 1px solid @SubtleBorderColour;
        border-bottom: 1px solid @SubtleBorderColour;
    }

    .dataTables_wrapper {
        .dataTables_filter {
            margin-top: -24px;
            -moz-opacity: 1;
            opacity: 1;
        }

        .dataTables_length {
            margin-top: -24px;
            -moz-opacity: 1;
            opacity: 1;
        }

        .dataTables_showStatusClosed {
            right: 220px;
            margin-top: -24px;
        }
    }
}

#User_Show_Details_Actions_AddFlag_Dialog {
    height: 400px;

    .flagPicker {
        position: absolute;
        width: 250px;
        height: 300px;
        overflow-y: auto;
        background-color: #fcfcfc;
        border: 1px solid #ccc;

        & > input {
            box-sizing: border-box;
            width: 100%;
            border: none;
            border-bottom: 1px solid #ddd;
        }

        & > div {
            background-color: @white;
            border-bottom: 1px solid #ddd;
            padding: 6px 0 6px 6px;
            cursor: pointer;

            &:hover {
                background-color: @TableDataBorderColour;
            }

            &.selected, &.selected:hover {
                background-color: @TableDataDarkBackgroundColour;
            }
        }
    }

    .details {
        display: none;
        position: absolute;
        left: 280px;
        top: 1em;

        h4 {
            margin-bottom: 4px;
        }

        textarea {
            min-width: 280px;
            height: 200px;
        }
    }
}


#UserDetailTab-Flags {
    #userFlags {
        .tableDataDark;
        table-layout: fixed;

        i.fa-edit {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 4px;
            font-size: 1.1em;
            cursor: pointer;
            display: none;
            color: @HyperLinkColour;

            &:hover {
                color: @HyperLinkHoverColour;
            }
        }

        td:hover i.fa-edit {
            display: inline-block;
        }

        th.name {
            width: 200px;
        }

        th.added {
        }

        th.removed {
        }

        tr.removed td {
            background-color: @TableDataBorderColour;
        }

        td.name {
            vertical-align: middle;

            .fa-stack {
                line-height: 1.6em;
            }
        }

        td.added, td.removed {
            vertical-align: middle;

            .expressionResult {
                margin-top: 4px;
                font-style: italic;
            }
        }

        td.comments {
            vertical-align: middle;

            .editable {
                position: relative;
            }

            .commentsRaw {
                display: none;
            }
        }

        td.removed {
            &.na {
                vertical-align: middle;
                text-align: center;
            }
        }
    }

    & > .none {
        text-align: center;
        padding: 30px 0;
        font-style: italic;
        background-color: @white;
    }
}

#User_Show_Flags_Actions_EditComments_Dialog {
    h4 {
        margin-bottom: 4px;
    }
}

#User_Show_Flags_Actions_EditComments_Dialog_Comments {
    width: 280px;
}

#UserDetailTab-Authorization {
    #UserDetailTab-AuthorizationContainer {
        background-color: @white;
        border: 1px solid @SubtleBorderColour;
    }

    #UserDetailTab-Authorization_ClaimsTree_Container {
        width: 50%;
        float: left;
        padding: 6px 10px 6px 4px;

        & > span.smallMessage:last-child {
            display: block;
            text-align: right;
        }
    }

    #UserDetailTab-Authorization_Membership {
        width: 40%;
        float: right;
        padding: 6px 10px;
        border-left: 1px dashed @SubtleBorderColour;
        border-bottom: 1px dashed @SubtleBorderColour;

        #UserDetailTab-Authorization_Membership_Roles {
            margin-bottom: 10px;
        }

        #UserDetailTab-Authorization_Membership_Groups_Container {
            & > span.smallMessage:last-child {
                display: block;
                text-align: right;
            }
        }
    }

    #UserDetailTab-Authorization_NoAccess {
        width: 50%;
        float: left;
        padding: 6px 10px;

        h3 {
            margin-bottom: 10px;
        }
    }
}


#userShowResources {
    #AttachmentsContainer {
        padding: 0;
    }

    #Attachments {
        position: relative;
        border: 1px solid @SubtleBorderColour;
        background-color: @white;

        div.attachmentOutput {
            position: relative;
            height: 320px;
            overflow: auto;

            & > a {
                display: block;
                float: left;
                height: 48px;
                width: 218px;
                padding: 2px;
                margin: 2px;
                font-size: 0.9em;
                border: 1px solid @white;
                color: @black;
                text-decoration: none;

                span.comments, span.author, span.timestamp {
                    display: block;
                    float: left;
                    width: 168px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    height: 16px;
                }

                span.author {
                    color: #888;
                    width: 150px;
                }

                span.timestamp {
                    color: #888;
                    font-style: italic;
                }

                span.icon {
                    display: block;
                    float: left;
                    height: 48px;
                    width: 48px;
                    margin-right: 2px;

                    img {
                        height: 48px;
                        width: 48px;

                        &.loading {
                            display: none;
                        }
                    }
                }

                &:hover {
                    background-color: @SubtleColour;
                    border: 1px solid @SubtleBorderColour;

                    span.remove {
                        opacity: .5;
                    }
                }

                span.remove {
                    font-size: 1.4em;
                    color: @StatusRemove;
                    margin-left: 5px;
                    cursor: pointer;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &.cannotAddAttachments div.attachmentOutput {
            height: 162px;
        }

        div.attachmentInput {
            border-top: 1px solid @SubtleBorderColour;
            height: 40px;
            background-color: @white;
            padding: 3px;

            span.action {
                display: block;
                margin: 0 4px 0 0;
                font-size: 1.5em;
                cursor: pointer;
                float: right;
                padding: .5em;

                &:not(.fa-spin) {
                    color: @HeaderBackgroundColour;
                    border: 1px solid @white;

                    &:hover {
                        color: @HyperLinkColour;
                        background-color: @SubtleColour;
                        border: 1px solid @SubtleBorderColour;
                    }

                    &.disabled {
                        color: fade(@HeaderBackgroundColour, 20%);
                        cursor: default;

                        &:hover {
                            color: fade(@HeaderBackgroundColour, 20%);
                            background-color: inherit;
                            border: 1px solid @white;
                        }
                    }
                }
            }
        }
    }
}

#User_Show_Details_Actions_CreateJob_Dialog {
    #CreateJob_Assignments {
        margin-top: 6px;
        background-color: @white;
        line-height: 1.3;
        border: 1px solid #ddd;
        max-height: 300px;
        overflow-y: auto;

        li.CreateJob_Assignment {
            display: block;
            padding: 4px;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px dashed #ddd;
            }

            &:hover {
                background-color: @TableDataBorderColour;
            }

            tr:first-child td {
                width: 68px;
            }

            td:first-child {
                width: 90px;
                font-weight: @FontWeightBodyBold;
            }

            img.CreateJob_Assignment_Image {
                width: 64px;
                height: 64px;
            }
        }
    }
}
