@model Disco.Web.Areas.Config.Models.DocumentTemplate.BulkGenerateDeviceModel
@{
    Authorization.RequireAll(Claims.Config.DocumentTemplate.BulkGenerate, Claims.User.Actions.GenerateDocuments);

    ViewBag.Title = Html.ToBreadcrumb("Configuration", MVC.Config.Config.Index(), "Document Templates", MVC.Config.DocumentTemplate.Index(null), Model.DocumentTemplate.Description, MVC.Config.DocumentTemplate.Index(Model.DocumentTemplate.Id), "Bulk Generate");
    Html.BundleDeferred("~/ClientScripts/Modules/Disco-DocumentBulkGenerate");
}
<div id="DocumentTemplate_BulkGenerate">
    <div class="actions">
        @using (Html.BeginForm(MVC.API.DocumentTemplate.BulkGenerate(Model.DocumentTemplate.Id)))
        {
            if (Model.TemplatePageCount > 1 && Model.TemplatePageCount % 2 != 0)
            {
                <input id="DocumentTemplate_BulkGenerate_InsertBlankPage" type="checkbox" name="InsertBlankPage" value="True" checked /><label for="DocumentTemplate_BulkGenerate_InsertBlankPage">Insert Blank Pages for Double-Sided Printing</label>
            }
            <input id="DocumentTemplate_BulkGenerate_DataIds" name="DataIds" type="hidden" />
            <button id="BulkGenerate" class="button" disabled>Bulk Generate</button>
            @Html.AntiForgeryToken()
        }
        <br />
        <button id="AddDevices" class="button small">Add Devices</button>
        @if (Model.DeviceFlags.Any(f => f.Count > 0))
        {
            <button id="AddDeviceFlag" class="button small">Add With Device Flag</button>
        }
        @if (Model.DeviceProfiles.Any(b => b.Count > 0))
        {
            <button id="AddDeviceProfile" class="button small">Add With Device Profile</button>
        }
        @if (Model.DeviceBatches.Any(b => b.Count > 0))
        {
            <button id="AddDeviceBatch" class="button small">Add With Device Batch</button>
        }
        @if (Model.DocumentTemplates.Any(b => b.Count > 0))
        {
            <button id="AddDocumentAttachment" class="button small">Add With Document Attachment</button>
        }
        <button id="AddUsers" class="button small">Add With Assigned Users</button>
        @if (Model.UserDetails.Any(b => b.Count > 0))
        {
            <button id="AddUserDetail" class="button small">Add With Assigned User Detail</button>
        }
    </div>
    <table id="DocumentTemplate_BulkGenerate_Records" class="genericData" data-scope="device">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Serial Number</th>
                <th class="name">&nbsp;</th>
                <th>Scope</th>
            </tr>
        </thead>
        <tbody>
            <tr class="when-none">
                <td colspan="4">Add Devices</td>
            </tr>
        </tbody>
    </table>
</div>

@Html.Partial(MVC.Config.DocumentTemplate.Views._BulkGenerateShared, Model)
